In [1]:
import pandas
import datetime

In [2]:
colNames = [ "dateStr", "timeStr", "MLAT", "MLT",\
            "vel", "azims", "stIds", "poesMLAT1", "poesMLAT2" ]
esDF = pandas.read_csv( "../data/east-saps-north-2011-2014.txt",\
                       delim_whitespace=True, header=None,\
                      names=colNames)
esDF.head()

/usr/local/lib/python2.7/dist-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,dateStr,timeStr,MLAT,MLT,vel,azims,stIds,poesMLAT1,poesMLAT2
0,20110101,700,56.5,1.8816,646.2470,90.6797,33.0000,67.1833,67.0988
1,20110101,800,54.5,2.7046,714.3559,90.3934,33.0000,66.3544,66.5381
2,20110101,800,54.5,2.8194,723.4858,90.3635,33.0000,66.3544,66.5381
3,20110101,800,55.5,2.6863,673.4401,91.1488,33.0000,66.3544,66.5381
4,20110101,800,55.5,2.8039,680.2266,91.0594,33.0000,66.3544,66.5381

In [10]:
# get counts of datetime measurements
esCntDate = esDF[ esDF["MLT"] > 12. ].groupby( ["dateStr" ] ).size().reset_index()
esCntDate.columns = [ "dateStr", "cnt" ]
esCntDate = esCntDate.sort( ["cnt"], ascending=False ).reset_index(drop=True)
esCntDate.head(20)

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  after removing the cwd from sys.path.

     dateStr  cnt
0   20111204  315
1   20121213  263
2   20121217  245
3   20120108  231
4   20130425  229
5   20130227  223
6   20120127  207
7   20131117  181
8   20120205  177
9   20111125  177
10  20120111  170
11  20120221  165
12  20120206  159
13  20131108  159
14  20121102  155
15  20120121  155
16  20130221  153
17  20131016  153
18  20120124  153
19  20111130  151

In [17]:
print esDF[ (esDF["dateStr"] == 20130425)  ].groupby( ["timeStr" ] ).size()

timeStr
130      1
230      3
330      1
430     55
500     11
530     20
600     51
700      4
800      6
830     13
900      8
930     17
1000     3
1030    21
1130    11
1300     3
2300     1
dtype: int64

In [18]:
print esDF[ (esDF["dateStr"] == 20130425) &\
          (esDF["timeStr"] == 430)]

        dateStr  timeStr  MLAT      MLT       vel     azims     stIds  \
62309  20130425      430  58.5  22.0030  260.9282  104.4118   33.0000
62310  20130425      430  59.5  21.9559  289.2906   98.0705   33.0000
62311  20130425      430  59.5  22.2182  244.4763  102.0620   33.0000
62312  20130425      430  59.5  22.0870  267.5842   99.9252   33.0000
62313  20130425      430  60.5  22.0315  290.7335   94.7497   33.0000
62314  20130425      430  60.5  21.8959  306.8198   93.7790   33.0000
62315  20130425      430  59.5  22.3493  220.3131  104.5784   33.0000
62316  20130425      430  60.5  22.3027  252.7263   97.0193   33.0000
62317  20130425      430  60.5  22.1671  272.6160   95.8196   33.0000
62318  20130425      430  61.5  21.9822  279.8898   92.0301   33.0000
62319  20130425      430  60.5  22.4382  231.3540   98.3914   33.0000
62320  20130425      430  61.5  22.2613  257.3875   93.0317   33.0000
62321  20130425      430  61.5  22.1217  269.4195   92.5158   33.0000
62322  20130425      430  60.5  22.5738  208.8177   99.9960   33.0000
62323  20130425      430  61.5  22.6799  213.6226   94.8487   33.0000
62324  20130425      430  61.5  22.5403  229.3018   94.1873   33.0000
62325  20130425      430  60.5  21.8959  306.8198   93.7790  205.0000
62326  20130425      430  61.5  21.9822  279.8898   92.0301  205.0000
62327  20130425      430  60.5  22.0315  290.7335   94.7497  205.0000
62328  20130425      430  60.5  22.1671  272.6160   95.8196  205.0000
62329  20130425      430  53.5  19.0722  505.8193   84.0510  206.0000
62330  20130425      430  54.5  19.0757  624.5229   85.0114  206.0000
62331  20130425      430  54.5  19.1905  620.4556   85.3129  206.0000
62332  20130425      430  55.5  19.0793  707.0049   85.1772  206.0000
62333  20130425      430  57.5  18.5658  549.9421   84.6674  206.0000
62334  20130425      430  55.5  19.1970  700.6224   85.2694  206.0000
62335  20130425      430  58.5  18.5562  344.0484   82.0134  206.0000
62336  20130425      430  59.5  19.3329  254.0871   77.5036  206.0000
62337  20130425      430  61.5  20.5868  281.2063   87.7637  207.0000
62338  20130425      430  62.5  20.6179  217.4563   89.0404  207.0000
62339  20130425      430  61.5  20.7264  289.5647   88.1986  207.0000
62340  20130425      430  62.5  20.7625  222.1092   89.2352  207.0000
62341  20130425      430  60.5  20.6755  336.5891   86.8801  207.0000
62342  20130425      430  61.5  20.8659  296.2037   88.6224  207.0000
62343  20130425      430  62.5  20.9071  225.8282   89.4264  207.0000
62344  20130425      430  60.5  20.8111  343.9209   87.6033  207.0000
62345  20130425      430  61.5  21.0054  301.0116   89.0387  207.0000
62346  20130425      430  62.5  21.0517  228.5679   89.6153  207.0000
62347  20130425      430  59.5  20.7756  383.8220   87.0460  207.0000
62348  20130425      430  60.5  20.9467  348.7220   88.3196  207.0000
62349  20130425      430  61.5  21.1450  303.9034   89.4508  207.0000
62350  20130425      430  59.5  20.9067  383.7983   88.0267  207.0000
62351  20130425      430  60.5  21.0823  350.8697   89.0356  207.0000
62352  20130425      430  58.5  20.8540  412.0328   88.4865  207.0000
62353  20130425      430  59.5  21.0379  381.0607   89.0389  207.0000
62354  20130425      430  59.5  21.1690  375.5822   90.0910  207.0000
62355  20130425      430  60.5  21.2179  350.2851   89.7584  207.0000
62356  20130425      430  60.5  21.3535  346.9351   90.4955  207.0000
62357  20130425      430  58.5  20.9817  400.9209   89.7127  207.0000
62358  20130425      430  58.5  21.1094  387.9940   91.0374  207.0000
62359  20130425      430  59.5  21.3002  367.3818   91.1936  207.0000
62360  20130425      430  58.5  21.2370  373.3986   92.4712  207.0000
62361  20130425      430  57.5  21.1772  361.2954   94.7725  207.0000
62362  20130425      430  57.5  21.3015  340.4526   96.6590  207.0000
62363  20130425      430  57.5  21.4259  320.3247   98.7237  207.0000

      poesMLAT1  poesMLAT2
62309   66.2088    65.4369
62310   66.2088    65.4369
62311   66.2088    65.4369
62312   66.2088    65.4369
62313   66.2088    65.4369
62314   66.2088    65.4369
62315   66.2088    65.4369
62316   66.2088    65.4369
62317   66.2088    65.4369
62318   66.2088    65.4369
62319   66.2088    65.4369
62320   66.2088    65.4369
62321   66.2088    65.4369
62322   66.2088    65.4369
62323   66.2088    65.4369
62324   66.2088    65.4369
62325   66.2088    65.4369
62326   66.2088    65.4369
62327   66.2088    65.4369
62328   66.2088    65.4369
62329   66.2088    65.4369
62330   66.2088    65.4369
62331   66.2088    65.4369
62332   66.2088    65.4369
62333   66.2088    65.4369
62334   66.2088    65.4369
62335   66.2088    65.4369
62336   66.2088    65.4369
62337   66.2088    65.4369
62338   66.2088    65.4369
62339   66.2088    65.4369
62340   66.2088    65.4369
62341   66.2088    65.4369
62342   66.2088    65.4369
62343   66.2088    65.4369
62344   66.2088    65.4369
62345   66.2088    65.4369
62346   66.2088    65.4369
62347   66.2088    65.4369
62348   66.2088    65.4369
62349   66.2088    65.4369
62350   66.2088    65.4369
62351   66.2088    65.4369
62352   66.2088    65.4369
62353   66.2088    65.4369
62354   66.2088    65.4369
62355   66.2088    65.4369
62356   66.2088    65.4369
62357   66.2088    65.4369
62358   66.2088    65.4369
62359   66.2088    65.4369
62360   66.2088    65.4369
62361   66.2088    65.4369
62362   66.2088    65.4369
62363   66.2088    65.4369